.image img {
    height: 100vh;
    max-width: 100%;
    padding: 0 auto;
    width: 100%;
}
.details{
    color: #fff;
    font-weight: 500;
    left: 95px;
    line-height: 1;
    position: absolute;
    text-align: left;
    top: 200px;
    z-index: 1;
}

.details h1 {
    font-family: BenchNine,sans-serif;
    font-size: 4rem;
    text-transform: capitalize;
}

.details p {
    font-size: 3rem;
    font-weight: 300;
    margin-top: 50px;
}

.get-started-btn{
    padding: 13px 17px;
    text-align: center;
    border-radius: 9px;
    border: 1px solid #00007a;
    margin-left: 3px;
    background-color: #000021;
    color: white;
}

.get-started-btn:hover{
    padding: 13px 17px;
    text-align: center;
    border-radius: 9px;
    margin-left: 3px;
    background-color: #00007a;
    color: white;
}